@model wcfmvcproject.ServiceReference1.tblEmployee

@{
    ViewBag.Title = "empl";
}

<h2>empl</h2>

<div>
    <h4>tblEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mgr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mgr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
